# Figures #
###########
*.pdf
*.eps
*.fig

# Latex #
#########
*.tex

# Matlab data #
###############
*.mat

# Annoying Mac file #
#####################
*.DS_Store

# MATLAB Autosaves #
####################
*.m~
*.asv

# Dropbox #
###########
.dropbox.attr

# Temporary bashes and outputs #
################################
*.sh~
*.sh.o*
*.sh.e*

# Emacs autosave #
\#*#