# Figures #
###########
*.pdf
*.eps
*.fig

# Latex #
#########
*.tex

# Matlab data #
###############
*.mat

# Annoying Mac file #
#####################
.DS_Store

# MATLAB Autosaves #
####################
*.m~